################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medikeeper/v15
/.vs/MediKeeperApp/v15
/.vs
/Manager/bin/Debug/netcoreapp2.1
/Manager/bin/Release
/Manager/obj
/MediKeeperApp/bin/Debug/netcoreapp2.1
/MediKeeperApp/obj/Debug/netcoreapp2.1

/MediKeeperApp/obj/Release/netcoreapp2.1
/MediKeeperApp/bin/Release/netcoreapp2.1
