################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medikeeper/v15
/.vs/MediKeeperApp/v15
/.vs
/Manager/bin/Debug/netcoreapp2.1
/Manager/obj
